Body {
  background-color: #f9f6f7;
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
  padding: 10px;
  font-size: 40px;
}

h2 {
  font-weight: 900;
  font-size: 25px;
  margin: 0;
}
select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
}

.container {
  max-width: 600px;
  display: block;
  margin: 40px auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: dashed 1px #ffe8d6;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 40px;
  font-weight: bold;
}

.time small {
  font-size: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  color: rgba(0, 0, 0, 0.8);
}
